#container{
    height: 50px;
    width: 900px;
    border: 2px solid #55ada9;
    background-color: #f5c3cb;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#container div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    line-height: 50px;
}