.face{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 213, 0);
    border: 2px solid black;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 75px;
    background-color: #f34848;
    border: 2px solid black;
    border-radius: 0 0 100px 100px;
    position:absolute;
    left: 100px;
    top: 250px;
    transition: 1s;
}

.mouth:hover{
    border-radius: 100px 100px 0 0;
}

#left-eye, #right-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top: 100px;
    left: 100px;
}

#right-eye{
    left: 250px;
}