.loader{
    width: 200px;
    height: 200px;
    border: 20px solid #f2f2f2;
    border-right-color: #d1a641;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(3600deg);
    }
}