*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #0b1522;
}

.heart{
  width: 100px;
  height: 100px;
  background-color: #f20044;
  transform: rotate(-45deg);
  box-shadow: 0 0 200px #f20044;
  animation: heartbeat 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

.heart::before, .heart::after{
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f20044;
  box-shadow: 0 0 200px #f20044;
  position: absolute;
}

.heart::before{
  bottom: 50px;
} 

.heart::after{
  left: 50px;
}

@keyframes heartbeat {
  0%{
    transform: rotate(-45deg) scale(1.08);
  }
  80%{
    transform: rotate(-45deg) scale(1);
  }
  100%{
    transform: rotate(-45deg) scale(0.8);
  }
}