*{
    font-family:Open Sans, sans-serif;
}       

body{
    background-image:linear-gradient(45deg,#aed9e6,#90f091);
    height:100vh;
    display: flex;
    justify-content:center;
    margin-top:200px;
}

.container{
    width:450px;
    height:300px;
    border-radius:8px;
    background-color:rgba(255,255,255,0.2);
    box-shadow:-3px 3px 5px rgba(0,0,0,0.2);
    padding-left:20px;
    color:#008c8c;
    padding:20px 20px 0 20px;
    letter-spacing:1px;
}

h1{
    text-align:center;
}

.rows{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.temp{
    font-weight:bold;
    font-size:20px;
}

.val{
    text-decoration:none;
    height:30px;
    width:50%;
    background-color:rgba(255,255,255,0.4);
    color:#a8a8a8;
    font-size:15px;
    border:2px solid white;
    letter-spacing:1px;
    padding-left:10px;
}