*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100hv;
    width: 877px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    font-weight: 400;
}

header i{
    color: black;
    font-size: 25px;
    padding: 0 5px;
    opacity: 0.5;
}

header i:hover{
    opacity: 1;
    transform: scale(1.1);
}

header, footer{
    text-align: center;
    padding-bottom: 20px;
}

.sec_head{
    font-weight: 500;
    text-align: center;
}

header, footer, section{
    padding-bottom: 15px;
}

.education{
    display: grid;
    grid-template-columns: 337px 225px 319px;
    grid-template-rows: repeat(2, 1fr);
}

ul{
    padding-left: 15px;
}

.exp{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#date{
    justify-self: right;
}

#desc, #bullet{
    grid-column: 1/ 2 span;
}

td{
    border-right: 2px solid black;
    padding: 1px 5px;
    text-align: center;
}

footer i{
    color: black;
}