*{
    font-family: sans-serif;
    font-weight: light;
}
body{
    width: 1075px;
    /* height: 20px; */
    /* border: 2px solid black; */
    margin: 0 auto;
}

header{
    text-align: center;
    font-display: auto;
    margin-bottom: 20px;
}

#name{
    font-size: 50px;
    margin-bottom: 0;
}

.section{
    text-align: center;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}

hr{
    height: 2px;
    background-color: black;
    border: none;
}

p.masters, p.bachelors{
    display: inline-block;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#degree{
    margin: 0 100px 0 120px;
}

ul {
    font-size: 18px;
    margin: 1px 0 1px -25px;
}