*{
    font-family:Open Sans, sans-serif;
}       

body{
    background-color:#f2f2f2;
    display: flex;
    justify-content:center;
    margin-top:100px;
}

.container{
    width:600px;
    height:400px;
    border-radius:8px;
    background-color:white;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    padding-left:20px;
}

h1{
    text-align:center;
}

button{
    background-color:#4cb04f;
    border: none;
    border-radius:5px;
    color:white;
    width:96%;
    line-height:40px;
    font-size:20px;
}
button:hover{
    cursor:pointer;
    background-color:#44A049;
}

input{
    width:95%;
    height: 30px;
    margin: 10px 0 10px 0;
    border-radius:5px;
    border: 1px solid rgba(0,0,0,0.25);
}