*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #3c5469;
    display: grid;
    place-items: center;
}

.box{
    width: 250px;
    position: relative;
}

.bar{
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background-color: #c5cad4;
    border: 2px solid #c5cad4;
    position:absolute;
}

.balls{
    position: absolute;
    top: 100px;
    display: flex;
}

.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    transform-origin: 25px -95px;
    z-index: -1;
}

.ball::before{
    content: "";
    width: 1px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50px;
    left: 25px;
}

.balls .left{
    animation: start 0.8s infinite alternate;
}

.balls .right{
    animation: end 0.8s infinite alternate;
}

@keyframes start{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes end{
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}