h2{
  color: #d46a31;
}

span{
  color: #966c00;
}

h4{
  text-align: right;
  color: rgb(58, 123, 220);
}

#pets{
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 400px;
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}

img{
  width: 100%;
  border-radius: 25px;
}

@media (max-width: 375px) {
  #pets{
    flex-wrap: wrap;
  }
}