*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.color{
    border: 20px solid transparent;
    border-radius: 50%;
    transform: rotate(135deg);
    position:absolute;
}

.violet{
    width: 400px;
    height: 400px;
    border-top-color: #9400D3;
    border-right-color: #9400D3;
    animation: rainbow 2.1s ease-in-out 3;
}

.indigo{
    width: 360px;
    height: 360px;
    border-top-color: #4B0082;
    border-right-color: #4B0082;
    animation: rainbow 2.2s ease-in-out 3;
}

.blue{
    width: 320px;
    height: 320px;
    border-top-color: #0000FF;
    border-right-color: #0000FF;
    animation: rainbow 2.3s ease-in-out 3;
}

.green{
    width: 280px;
    height: 280px;
    border-top-color: #00FF00;
    border-right-color: #00FF00;
    animation: rainbow 2.4s ease-in-out 3;
} 

.yellow{
    width: 240px;
    height: 240px;
    border-top-color: #FFFF00;
    border-right-color: #FFFF00;
    animation: rainbow 2.5s ease-in-out 3;
}

.orange{
    width: 200px;
    height: 200px;
    border-top-color: #FF7F00;
    border-right-color: #FF7F00;
    animation: rainbow 2.6s ease-in-out 3;
}

.red{
    width: 160px;
    height: 160px;
    border-top-color: #FF0000;
    border-right-color: #FF0000;
    animation: rainbow 2.7s ease-in-out 3;
} 

.box{
    width: 440px;
    height: 221px;
    position: absolute;
    transform: translate(0, 110px);
    background-color: black;
}

@keyframes rainbow {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}